{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- Home Slider -->
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      {% for hero in hero_slides %}
      <div class="owl-item">
        {% if hero.image %}
        <div
          class="home_slider_background"
          style="background-image: url('{{ hero.image.url }}'); width: 100%; height: 100%; object-fit: cover;"
        ></div>
        {% elif hero.video %}
        <video
          class="home_slider_background"
          autoplay
          muted
          loop
          style="width: 100%; height: 100%; object-fit: cover"
        >
          <source src="{{ hero.video.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_title">{{ hero.heading1 }}</div>
            <div class="home_slider_subtitle">{{ hero.description1 }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Home Slider Nav -->
    <div
      class="home_slider_next d-flex flex-column align-items-center justify-content-center"
    >
      <img src="{% static 'images/arrow_r.png' %}" alt="" />
    </div>
  </div>

  <!-- Brand Banner -->

  {% if brand_banner %}
  <div
    class="brand_banner_container position-relative w-100"
    style="width: 100%; height: 100%; object-fit: cover"
  >
    {% if brand_banner.image %}
    <img
      src="{{ brand_banner.image.url }}"
      alt="Brand Banner"
      class="img-fluid w-100 h-100 object-cover position-absolute top-0 start-0"
    />
    {% elif brand_banner.video %}
    <video
      autoplay
      muted
      loop
      class="w-100 h-100 object-cover position-absolute top-0 start-0"
    >
      <source src="{{ brand_banner.video.url }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    {% endif %}

    <!-- Overlay: Heading + Brand Logos -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white text-center px-3"
      style="background: rgba(0, 0, 0, 0.4)"
    >
      {% if brand_banner.heading1 %}
      <div class="home_slider_content">
        <div class="home_slider_content_inner">
          <div class="home_slider_title">{{ brand_banner.heading1 }}</div>
        </div>
      </div>
      {% endif %}

      <div class="brand-logos-container">
        {% for brand in brands %} {% if brand.logo %}
        <div class="brand-logo-wrapper">
          <img
            src="{{ brand.logo.url }}"
            alt="{{ brand.name }}"
            class="brand-logo-img"
          />
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


  <!-- Shirts Category -->
   {% if shirts %}
  <div
    class="brand_banner_container position-relative w-100"
    style="width: 100%; height: 100%; object-fit: cover"
  >
    {% if shirts.image %}
    <img
      src="{{ shirts.image.url }}"
      alt="Brand Banner"
      class="img-fluid w-100 h-100 object-cover position-absolute top-0 start-0"
    />
    {% elif shirts.video %}
    <video
      autoplay
      muted
      loop
      class="w-100 h-100 object-cover position-absolute top-0 start-0"
    >
      <source src="{{ shirts.video.url }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    {% endif %}


    <!-- Overlay: Heading -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white text-center px-3"
      style="background: rgba(0, 0, 0, 0.4)"
    >
      {% if shirts.name %}
      <div class="home_slider_content">
        <div class="home_slider_content_inner">
          <div class="home_slider_title">{{ shirts.name }}</div>
        </div>
      </div>
      {% endif %}

      
    </div>
  </div>
  {% endif %}


  <!-- Updates Slider1 -->
   
	 <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      {% for update_slide in update_slides %}
      <div class="owl-item">
        {% if update_slide.image %}
        <div
          class="home_slider_background"
          style="background-image: url('{{ update_slide.image.url }}'); width: 100%; height: 100%; object-fit: cover;"
        ></div>
        {% elif update_slide.video %}
        <video
          class="home_slider_background"
          autoplay
          muted
          loop
          style="width: 100%; height: 100%; object-fit: cover"
        >
          <source src="{{ update_slide.video.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_title">{{ update_slide.heading1 }}</div>
            <div class="home_slider_subtitle">{{ update_slide.description1 }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>




   <!-- Gally Grid Section -->
<div style="padding: 60px 5%; box-sizing: border-box;">
  <div class="gally-section">
    
    <!-- Left: Images Grid -->
    <div class="gally-images">
      {% for item in gally_grid|slice:":6" %}
        <div class="gally-image-wrapper">
          <img src="{{ item.image.url }}" alt="Gally Grid Image" />
        </div>
      {% endfor %}
    </div>

    <!-- Right: Text -->
    <div class="gally-text">
      <h2>
        <span style="font-weight: 400;">New</span>
        <span>in</span>
        <span>GALLY</span>
      </h2>
    </div>

  </div>
</div>



<!-- collection1 -->

{% for item in collection1_items %}
<div class="collection1-container">
  <!-- Left Image -->
  <div class="collection1-left">
    <img src="{{ item.image1.url }}" alt="{{ item.name }}">
    <div class="collection1-overlay">
      <h2>{{ item.name }}</h2>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <!-- Right Image -->
  <div class="collection1-right">
    <img src="{{ item.image2.url }}" alt="Side Image">
  </div>
</div>
{% endfor %}




<!-- TShirts Category -->
   {% if tshirts %}
  <div
    class="brand_banner_container position-relative w-100"
    style="width: 100%; height: 100%; object-fit: cover; margin-top: 65px;"
  >
    {% if tshirts.image %}
    <img
      src="{{ tshirts.image.url }}"
      alt="Brand Banner"
      class="img-fluid w-100 h-100 object-cover position-absolute top-0 start-0"
    />
    {% elif tshirts.video %}
    <video
      autoplay
      muted
      loop
      class="w-100 h-100 object-cover position-absolute top-0 start-0"
    >
      <source src="{{ tshirts.video.url }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    {% endif %}


    <!-- Overlay: Heading -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white text-center px-3"
      style="background: rgba(0, 0, 0, 0.4)"
    >
      {% if tshirts.name %}
      <div class="home_slider_content">
        <div class="home_slider_content_inner">
          <div class="home_slider_title">{{ tshirts.name }}</div>
        </div>
      </div>
      {% endif %}

      
    </div>
  </div>
  {% endif %}



<!-- Updates Slider2 -->
   
	 <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      {% for update_slide in update2_slides %}
      <div class="owl-item">
        {% if update_slide.image %}
        <div
          class="home_slider_background"
          style="background-image: url('{{ update_slide.image.url }}'); width: 100%; height: 100%; object-fit: cover;"
        ></div>
        {% elif update_slide.video %}
        <video
          class="home_slider_background"
          autoplay
          muted
          loop
          style="width: 100%; height: 100%; object-fit: cover"
        >
          <source src="{{ update_slide.video.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_title">{{ update_slide.heading1 }}</div>
            <div class="home_slider_subtitle">{{ update_slide.description1 }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>



<!-- Loopy Grid Section -->
<div style="padding: 60px 5%; box-sizing: border-box;">
  <div class="gally-section">
    
    <!-- Left: Images Grid -->
    <div class="gally-images">
      {% for item in loopy_grid|slice:":6" %}
        <div class="gally-image-wrapper">
          <img src="{{ item.image.url }}" alt="Loopy Grid Image" />
        </div>
      {% endfor %}
    </div>

    <!-- Right: Text -->
    <div class="gally-text">
      <h2>
        <span style="font-weight: 400;">New</span>
        <span>in</span>
        <span>LOOPY</span>
      </h2>
    </div>

  </div>
</div>



<!-- collection2 -->

{% for item in collection2_items %}
<div class="collection1-container">
  <!-- Left Image -->
  <div class="collection1-left">
    <img src="{{ item.image1.url }}" alt="{{ item.name }}">
    <div class="collection1-overlay">
      <h2>{{ item.name }}</h2>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <!-- Right Bigger Image -->
  <div class="collection1-right">
    <img src="{{ item.image2.url }}" alt="Side Image">
  </div>
</div>
{% endfor %}



<!-- Denim Category -->
   {% if denims %}
  <div
    class="brand_banner_container position-relative w-100"
    style="width: 100%; height: 100%; object-fit: cover; margin-top: 65px;"
  >
    {% if denims.image %}
    <img
      src="{{ denims.image.url }}"
      alt="Brand Banner"
      class="img-fluid w-100 h-100 object-cover position-absolute top-0 start-0"
    />
    {% elif denims.video %}
    <video
      autoplay
      muted
      loop
      class="w-100 h-100 object-cover position-absolute top-0 start-0"
    >
      <source src="{{ denims.video.url }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    {% endif %}


    <!-- Overlay: Heading -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white text-center px-3"
      style="background: rgba(0, 0, 0, 0.4)"
    >
      {% if denims.name %}
      <div class="home_slider_content">
        <div class="home_slider_content_inner">
          <div class="home_slider_title">{{ denims.name }}</div>
        </div>
      </div>
      {% endif %}

      
    </div>
  </div>
  {% endif %}



  <!-- Irish Club Grid Section -->
<div style="padding: 60px 5%; box-sizing: border-box;">
  <div class="gally-section">
    
    <!-- Left: Images Grid -->
    <div class="gally-images">
      {% for item in irishclub_grid|slice:":6" %}
        <div class="gally-image-wrapper">
          <img src="{{ item.image.url }}" alt="Loopy Grid Image" />
        </div>
      {% endfor %}
    </div>

    <!-- Right: Text -->
    <div class="gally-text">
      <h2>
        <span style="font-weight: 400;">New</span>
        <span>in</span>
        <span style="font-weight: 700;">IRISH</span>
        <span>CLUB</span>
      </h2>
    </div>

  </div>
</div>



<!-- Updates Slider3 -->
   
	 <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      {% for update_slide in update3_slides %}
      <div class="owl-item">
        {% if update_slide.image %}
        <div
          class="home_slider_background"
          style="background-image: url('{{ update_slide.image.url }}'); width: 100%; height: 100%; object-fit: cover;"
        ></div>
        {% elif update_slide.video %}
        <video
          class="home_slider_background"
          autoplay
          muted
          loop
          style="width: 100%; height: 100%; object-fit: cover"
        >
          <source src="{{ update_slide.video.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_title">{{ update_slide.heading1 }}</div>
            <div class="home_slider_subtitle">{{ update_slide.description1 }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>



  <!-- collection3 -->

{% for item in collection3_items %}
<div class="collection1-container" style="margin-top: 70px;">
  <!-- Left Image -->
  <div class="collection1-left">
    <img src="{{ item.image1.url }}" alt="{{ item.name }}">
    <div class="collection1-overlay">
      <h2>{{ item.name }}</h2>
      <p>{{ item.description }}</p>
    </div>
  </div>

  <!-- Right Bigger Image -->
  <div class="collection1-right">
    <img src="{{ item.image2.url }}" alt="Side Image">
  </div>
</div>
{% endfor %}
    



<!-- Jack Miller Grid Section -->
<div style="padding: 60px 5%; box-sizing: border-box;">
  <div class="gally-section">
    
    <!-- Left: Images Grid -->
    <div class="gally-images">
      {% for item in jackmiller_grid|slice:":6" %}
        <div class="gally-image-wrapper">
          <img src="{{ item.image.url }}" alt="Jack Miller Grid Image" />
        </div>
      {% endfor %}
    </div>

    <!-- Right: Text -->
    <div class="gally-text">
      <h2>
        <span style="font-weight: 400;">New</span>
        <span>in</span>
        <span style="font-weight: 700;">JACK</span>
        <span>MILLER</span>
      </h2>
    </div>

  </div>
</div>


  <!-- Promo -->

  <div class="promo">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <div class="section_subtitle">only the best</div>
            <div class="section_title">promo prices</div>
          </div>
        </div>
      </div>
      <div class="row promo_container">
        <!-- Promo Item -->
        <div class="col-lg-4 promo_col">
          <div class="promo_item">
            <div class="promo_image">
              <img src="images/promo_1.jpg" alt="" />
              <div class="promo_content promo_content_1">
                <div class="promo_title">-30% off</div>
                <div class="promo_subtitle">on all bags</div>
              </div>
            </div>
            <div class="promo_link"><a href="#">Shop Now</a></div>
          </div>
        </div>

        <!-- Promo Item -->
        <div class="col-lg-4 promo_col">
          <div class="promo_item">
            <div class="promo_image">
              <img src="images/promo_2.jpg" alt="" />
              <div class="promo_content promo_content_2">
                <div class="promo_title">-30% off</div>
                <div class="promo_subtitle">coats & jackets</div>
              </div>
            </div>
            <div class="promo_link"><a href="#">Shop Now</a></div>
          </div>
        </div>

        <!-- Promo Item -->
        <div class="col-lg-4 promo_col">
          <div class="promo_item">
            <div class="promo_image">
              <img src="images/promo_3.jpg" alt="" />
              <div class="promo_content promo_content_3">
                <div class="promo_title">-25% off</div>
                <div class="promo_subtitle">on Sandals</div>
              </div>
            </div>
            <div class="promo_link"><a href="#">Shop Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New Arrivals -->

  <div class="arrivals">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <div class="section_subtitle">only the best</div>
            <div class="section_title">new arrivals</div>
          </div>
        </div>
      </div>
      <div class="row products_container">
        <!-- Product -->
        <div class="col-lg-4 product_col">
          <div class="product">
            <div class="product_image">
              <img src="images/product_1.jpg" alt="" />
            </div>
            <div class="rating rating_4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product_content clearfix">
              <div class="product_info">
                <div class="product_name">
                  <a href="product.html">Woman's Long Dress</a>
                </div>
                <div class="product_price">$45.00</div>
              </div>
              <div class="product_options">
                <div class="product_buy product_option">
                  <img src="images/shopping-bag-white.svg" alt="" />
                </div>
                <div class="product_fav product_option">+</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col-lg-4 product_col">
          <div class="product">
            <div class="product_image">
              <img src="images/product_2.jpg" alt="" />
            </div>
            <div class="rating rating_4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product_content clearfix">
              <div class="product_info">
                <div class="product_name">
                  <a href="product.html">2 Piece Swimsuit</a>
                </div>
                <div class="product_price">$35.00</div>
              </div>
              <div class="product_options">
                <div class="product_buy product_option">
                  <img src="images/shopping-bag-white.svg" alt="" />
                </div>
                <div class="product_fav product_option">+</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product -->
        <div class="col-lg-4 product_col">
          <div class="product">
            <div class="product_image">
              <img src="images/product_3.jpg" alt="" />
            </div>
            <div class="rating rating_4">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product_content clearfix">
              <div class="product_info">
                <div class="product_name">
                  <a href="product.html">Man Blue Jacket</a>
                </div>
                <div class="product_price">$145.00</div>
              </div>
              <div class="product_options">
                <div class="product_buy product_option">
                  <img src="images/shopping-bag-white.svg" alt="" />
                </div>
                <div class="product_fav product_option">+</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Extra -->

  <div class="extra clearfix">
    <div class="extra_promo extra_promo_1">
      <div
        class="extra_promo_image"
        style="background-image: url(images/extra_1.jpg)"
      ></div>
      <div
        class="extra_1_content d-flex flex-column align-items-center justify-content-center text-center"
      >
        <div class="extra_1_price">30%<span>off</span></div>
        <div class="extra_1_title">On all shoes</div>
        <div class="extra_1_text">
          *Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu
          tristique magna pharetra.
        </div>
        <div class="button extra_1_button">
          <a href="checkout.html">check out</a>
        </div>
      </div>
    </div>
    <div class="extra_promo extra_promo_2">
      <div
        class="extra_promo_image"
        style="background-image: url(images/extra_2.jpg)"
      ></div>
      <div
        class="extra_2_content d-flex flex-column align-items-center justify-content-center text-center"
      >
        <div class="extra_2_title">
          <div class="extra_2_center">&</div>
          <div class="extra_2_top">Mix</div>
          <div class="extra_2_bottom">Match</div>
        </div>
        <div class="extra_2_text">
          *Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu
          tristique magna pharetra.
        </div>
        <div class="button extra_2_button">
          <a href="checkout.html">check out</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Gallery -->

  <div class="gallery">
    <div
      class="gallery_image"
      style="background-image: url(images/gallery.jpg)"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="gallery_title text-center">
            <ul>
              <li><a href="#">#wish</a></li>
              <li><a href="#">#wishinstagram</a></li>
              <li><a href="#">#wishgirl</a></li>
            </ul>
          </div>
          <div class="gallery_text text-center">
            *Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu
            tristique magna pharetra.
          </div>
          <div class="button gallery_button"><a href="#">submit</a></div>
        </div>
      </div>
    </div>
    <div class="gallery_slider_container">
      <!-- Gallery Slider -->
      <div class="owl-carousel owl-theme gallery_slider">
        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <a class="colorbox" href="images/gallery_1.jpg">
            <img src="images/gallery_1.jpg" alt="" />
          </a>
        </div>

        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <a class="colorbox" href="images/gallery_2.jpg">
            <img src="images/gallery_2.jpg" alt="" />
          </a>
        </div>

        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <a class="colorbox" href="images/gallery_3.jpg">
            <img src="images/gallery_3.jpg" alt="" />
          </a>
        </div>

        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <a class="colorbox" href="images/gallery_4.jpg">
            <img src="images/gallery_4.jpg" alt="" />
          </a>
        </div>

        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <a class="colorbox" href="images/gallery_5.jpg">
            <img src="images/gallery_5.jpg" alt="" />
          </a>
        </div>

        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <a class="colorbox" href="images/gallery_6.jpg">
            <img src="images/gallery_6.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- Newsletter -->

  <div class="newsletter">
    <div class="newsletter_content">
      <div
        class="newsletter_image"
        style="background-image: url(images/newsletter.jpg)"
      ></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center">
              <div class="section_subtitle">only the best</div>
              <div class="section_title">subscribe for a 20% discount</div>
            </div>
          </div>
        </div>
        <div class="row newsletter_container">
          <div class="col-lg-10 offset-lg-1">
            <div class="newsletter_form_container">
              <form action="#">
                <input
                  type="email"
                  class="newsletter_input"
                  required="required"
                  placeholder="E-mail here"
                />
                <button type="submit" class="newsletter_button">
                  subscribe
                </button>
              </form>
            </div>
            <div class="newsletter_text">
              Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu
              tristique magna pharetra nec. Fusce vel lorem libero. Integer ex
              mi, facilisis sed nisi ut, vestib ulum ultrices nulla. Aliquam
              egestas tempor leo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}

