{% load static %}
    <!-- Header -->

	<header class="header transparent-header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-between">
			<div class="logo"><a href="{% url 'home' %}">
				<img src="{% static 'images/gally_logo.png' %}" alt="Gally Logo">
			</a></div>
			<nav class="main_nav">
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="{% url 'about' %}">ABOUT</a></li>
					<li><a href="#">BRANDS</a></li>
					<li><a href="#">PRODUCTS</a></li>
					<li><a href="#">COLLAB.</a></li>
					<li><a href="#">STORE</a></li>
					<li><a href="{% url 'contact' %}">GET IN TOUCH</a></li>
				</ul>
			</nav>
			<div class="header_content ml-auto">
				<div class="search header_search">
					<form action="#">
						<input type="search" class="search_input" required="required">
						<button type="submit" id="search_button" class="search_button"><img src="images/magnifying-glass.svg" alt=""></button>
					</form>
				</div>
				
			</div>

			
		</div>
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="logo menu_mm"><a href="#">Wish</a></div>
		<div class="search">
			<form action="#">
				<input type="search" class="search_input menu_mm" required="required">
				<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="images/magnifying-glass.svg" alt=""></button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="#">home</a></li>
				<li class="menu_mm"><a href="#">clothes</a></li>
				<li class="menu_mm"><a href="#">accessories</a></li>
				<li class="menu_mm"><a href="#">lingerie</a></li>
				<li class="menu_mm"><a href="#">contact</a></li>
			</ul>
		</nav>
	</div>