{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Store Slider -->
  <div class="home_slider_container" style="max-height: 80vh;">
    <div class="owl-carousel owl-theme home_slider">
      {% for hero in hero_slides %}
      <div class="owl-item">
        {% if hero.image %}
        <div
          class="home_slider_background"
          style="background-image: url('{{ hero.image.url }}'); width: 100%; height: 100%; object-fit: cover;"
        ></div>
        {% elif hero.video %}
        <video
          class="home_slider_background"
          autoplay
          muted
          loop
          style="width: 100%; height: 100%; object-fit: cover"
        >
          <source src="{{ hero.video.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_title">{{ hero.heading1 }}</div>
            <div class="home_slider_subtitle">{{ hero.description1 }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


<!-- Second Layer -->
<section class="story">
  <div class="content">
    <div class="text">
       <h2>Gally’s Global Gateway: Dubai & the GCC</h2>
      <p>
        In 2013, Gally made its first international move by stepping into the bustling trade hub of Dubai. With a vision to explore new horizons, the founders teamed up with a local entrepreneur and opened their first wholesale store in the city. What began as a cautious entry into foreign territory quickly transformed into a major milestone. Dubai’s dynamic market and global connectivity became the perfect launchpad for Gally’s international expansion.
      </p>
      <p>
       By 2018, Gally had earned a reputation as a trusted name in men’s fashion wholesale across the Middle East, thanks to its dedication to quality, trend awareness, and personalized service. Today, Gally Dubai is more than just a store—it’s the regional hub for distributing high-quality apparel. With its own production units in India, China, and Turkey, Gally Dubai also leads the brand’s private label manufacturing for global retail partners.
      </p>
    </div>
    <div class="image">
      <img src="{% static 'images/dubai.PNG' %}" alt="Our Story Image" />
    </div>
  </div>
</section>


<!-- third Layer -->
<section class="story">
  <div class="content">
    <div class="image">
      <img src="{% static 'images/dubai.PNG' %}" alt="Our Story Image" />
    </div>
    <div class="text">
        <h2>Gally India: The Root of Innovation</h2>
      <p>
        The heart of Gally lies in its roots—India. What began as a single store in Calicut has evolved into a comprehensive ecosystem of retail, wholesale, and manufacturing. With a deep understanding of Indian fashion sensibilities and a pulse on global trends, Gally India remains the brand's creative and production powerhouse.
      </p>
      <p>
       From launching wholesale outlets in Calicut and Bangalore to establishing a dedicated production unit in Bangalore, Gally’s growth in India showcases the strength of strategic planning and teamwork. India continues to play a crucial role in sourcing, innovation, and design, fueling Gally’s global operations with quality and creativity at scale.
Gally India isn’t just the beginning of the journey—it’s the engine that continues to power the brand forward.
      </p>
     
    </div>
    
  </div>
</section>


<!-- fourth Layer -->
<section class="story">
  <div class="content">
    <div class="text">
      <h2>Gally in Africa: Fashion Beyond Borders</h2>
      <p>
        Driven by the success in Dubai and the GCC, Gally expanded its reach to Africa, tapping into an exciting and fast-growing market. Leveraging its logistics and trade operations based in Dubai, Gally began supplying men’s fashion to major African cities and retail hubs.
      </p>
      <p>
       Africa’s dynamic demand for quality and affordable fashion aligned perfectly with Gally’s core values. Through strong relationships with regional wholesalers and retailers, Gally has become a trusted name known for consistency, affordability, and trend-conscious collections.
Today, Gally Africa symbolizes the brand’s adaptability and vision—to connect with diverse markets while maintaining the essence of quality and trust.
      </p>
    </div>
    <div class="image">
      <img src="{% static 'images/dubai.PNG' %}" alt="Our Story Image" />
    </div>
  </div>
</section>




{% endblock %}